{
    "version": "1.0.0",
    "hook": {
        "path": "{{ securetty_dir }}/hooks/securetty-firewall.sh"
    },
    "when": {
        "annotations": {
            "^securetty_firewall$": "^true$"
        }
    },
    "stages": ["createContainer"]
}
